---
interface Props {
	title: string;
	description?: string;
	background: string;
	colSpan?: string;
	rowSpan?: string;
}
const { title, background, colSpan, rowSpan, description } = Astro.props;
---

<a
	href={`/proyecto/${title}`}
	class:list={["card"]}
	style={{ "grid-row": `span ${rowSpan}`, "grid-column": `span ${colSpan}` }}
>
	<div class="overlay">
		<h1>{title}</h1>
		<p>{description}</p>
	</div>
	<img class="img" loading="lazy" src={background} alt="" />
</a>
<style>
	.card {
		position: relative;
		min-width: 100%;
		min-height: 400px;
		display: flex;
		justify-content: center;
		align-items: end;
		color: white;
		text-shadow: 0 0 10px black;
		overflow: hidden;
		cursor: pointer;
		transition: all 0.3s;
		z-index: 1;
	}

	.card .overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 20px; /* Ajusta según sea necesario */
		box-sizing: border-box;
		background: rgba(0, 0, 0, 0.7);
		opacity: 0; /* Añadido */
		transition: all 0.3s;
		/* Añadido: */
		z-index: 2;
	}

	.card:hover .overlay {
		opacity: 1;
	}

	.card .overlay h1 {
		font-size: 3rem;
		margin: 0;
	}

	.img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: relative;
		transition: all 0.3s;
	}

	.card:hover .img {
		transform: scale(1.1);
		transition: all 0.3s;
	}

	@media (max-width: 600px) {
		.card .overlay {
			opacity: 1 !important;
		}
		a{
			grid-row: span 1!important;
    		grid-column: span 2!important;
		}
	}
</style>
